@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;600&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-family: 'Playfair Display', serif;
}

:root {
    --main-color: rgb(85, 119, 141);
    --second-color: rgba(0, 0, 0, 0.3);
}

body {
    width: 100vw;
    min-height: 100vh;
    background: url("./photos/elisha-terada-LOAqoMw1vow-unsplash.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 70px;
}

.nav-container i {
    color: #f4f4f4;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    font-size: 24px;
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;
    color: #f4f4f4;
    transition: color 0.2s ease;
}

.nav-item a:hover {
    color: rgba(255, 255, 255, 0.5);
}


.accessibility-button1 {
    box-shadow: none !important;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.accessibility-button1 button {
    position: fixed;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    left: -7%;
    top: 16%;
}

.accessibility-button1 img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: fixed;
    left: 2.5%;
    top: 20.5%;
    animation: pulse 2s infinite;
    /* נוסיף את האנימציה */
}

@keyframes pulse {
    0% {
        transform: scale(1);
        /* מצב התחלתי */
    }

    50% {
        transform: scale(1.2);
        /* מצב הגדלה */
    }

    100% {
        transform: scale(1);
        /* מצב סיום (אותו מצב התחלתי) */
    }
}

#accessibility-options {
    position: fixed;
    bottom: 60px;
    right: 10px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}