.timer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    background-color: var(--second-color);
    width: 450px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.timer-screen {
    flex: 2;
    width: 100%;

}

.timer-screen input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.timer-screen input::placeholder {
    color: #fff;
    text-align: center;

}

.timer-buttons {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-start {
    background-color: var(--main-color);
    border-right: 2px solid #fff;
}

.btn-stop {
    background-color: var(--main-color);
}

button {
    flex: 1;
    height: 100%;
    font-size: 30px;
    cursor: pointer;
    color: #f4f4f4;
    border: none
}

input {}