 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'heebo', sans-serif;
 }

 :root {
     --white-color: #fff;
     --blue-color: #020253;
     --lightblue: #E5EEFF;
     --black-color: #2C2C2C;
 }

 html {
     width: 100vw;
 }

 body {
     width: 100vw;
     overflow-x: hidden;
 }

 .container-coffee {
     display: flex;
 }


 img {
     border: 1px solid #707070;
 }

 .container {
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: end;
     margin-left: 200px;
 }

 .coffee-titel {
     color: var(--blue-color);
     padding-bottom: 22px;
     font-size: 43px;
 }

 .coffee-text {
     color: var(--blue-color);
     text-align: right;
     font-size: 20px;
     max-width: 417px;
     max-height: 58px;
     padding-bottom: 22px;
 }


 input {
     padding: 5px 10px;
     outline: none;
     font-size: 14px;
     width: 415px;
     height: 50px;
     background-color: var(--lightblue);
     border-bottom: 4px solid var(--blue-color);

 }


 .form-control {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     color: var(--black-color);
     font-weight: bold;
     padding: 26px 0 24px 0;

 }

 .btn-control {
     width: 166px;
     height: 50px;
     color: var(--white-color);
     background: var(--blue-color) 0% 0% no-repeat padding-box;
     text-align: center;
     font-size: 20px;
 }

 @media (max-width: 1000px) {

     .container-coffee {
         display: flex;
         flex-direction: column;
     }

     img {
         width: 100%;
         height: 500px;
     }

     .container {
         align-items: center;
         padding: 0;
         margin: 0;
     }

     .coffee-titel {
         padding-top: 42px;
         padding: 42px 0 17px 48px;
     }

     .coffee-text {
         font-size: 18px;
     }

     .btn-control {
         margin: 32px 0 83px 0;
     }
 }

 @media (max-width: 600px) {

     .coffee-titel {
         font-size: 28px;
         padding-top: 42px;
     }

     .coffee-text {
         font-size: 15px;
         width: 285px;
     }

     .form-control {
         padding: 15px 0;
     }

     input {
         width: 286px;
         height: 34px;

     }

     label {
         font-size: 14px;

     }

     img {
         height: 219px;
     }

 }